<p>Dear {{ club.name }} Club management,</p>
<p>A membership request for the your club has been issued by {{ user.firstname}} {{ user.lastname }} ({{ user.email}}).</p>
<p>To process the request, please <a href="{{ url_for('membership.confirm_membership_request', user_id=user.id, club_id=club.id, valid_from=valid_from, valid_till=valid_till, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('membership.confirm_membership_request', user_id=user.id, club_id=club.id, valid_from=valid_from, valid_till=valid_till, _external=True) }}</p>
<p></p>
<p><small>Note: replies to this email address are not monitored.</small></p>
