{% extends "base.html" %}

{% block page_title %}About{% endblock %}

{% block page_body %}
  <p>This website was created by Artur Scholz and Marcos Garcia Chillon.</p>
  <p>Based on the <a href="http://flask.pocoo.org/" target="_blank">Flask</a>, a Python web framework.</p>
  <p>The source code can be found <a href="https://gitlab.com/artur-scholz/clubhub" target="_blank">here</a>.</p>
{% endblock page_body %}
