{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}Feedback{% endblock %}

{% block page_body %}
  <div>
    <p>
      Please provide feedback if you found a bug or have any kind of suggestion
      on how to improve this website. Note however that work is done on a
      best effort basis, so please be patient. And be as descriptive as possible.
    </p>
    <p>We keep track of issues <a href="https://gitlab.com/artur-scholz/clubhub/issues" target="_blank">here</a>.</p>
  </div>
  <br>
  {{ wtf.quick_form(form) }}
  <br>
{% endblock page_body %}
