{% extends "base.html" %}

{% block page_title %}
  {% if not current_user.is_authenticated %}
    <img class="img-responsive center-block" src='static/img/home.png'>
  {% else %}
  {% endif %}
{% endblock page_title %}

{% block page_body %}
  {% if not current_user.is_authenticated %}
    <a class="btn btn-primary btn-block" href={{ url_for('auth.login') }} role="button">Login</a>
    <a class="btn btn-warning btn-block" href={{ url_for('auth.register') }} role="button">Register</a>
    <a class="btn btn-info btn-block" href={{ url_for('home.user_guide') }} role="button">Help</a>
  {% else %}
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Membership</strong></div>
      <div class="panel-body">
        {% if context.my_clubs %}
          {% for my_club in context.my_clubs %}
            <a class="btn btn-primary btn-block" href={{ url_for('home.menu_my_club', club_id=my_club.id) }} role="button">{{ my_club.name }}</a>
          {% endfor %}
        {% endif %}
        <a class="btn btn-warning btn-block" href={{ url_for('membership.request_membership') }} role="button">New</a>
      </div>
    </div>

    {% if context.my_clubs_to_admin %}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Club Administration</strong></div>
        <div class="panel-body">
          {% for my_club_to_admin in context.my_clubs_to_admin %}
            <a class="btn btn-primary btn-block" href={{ url_for('home.menu_club_administration', club_id=my_club_to_admin.id) }} role="button">{{ my_club_to_admin.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if context.my_companies_to_admin %}
      <div class="panel panel-default">
        <div class="panel-heading"><strong>Company Administration</strong></div>
        <div class="panel-body">
          {% for my_company_to_admin in context.my_companies_to_admin %}
            <a class="btn btn-primary btn-block" href={{ url_for('home.menu_company_administration', company_id=my_company_to_admin.id) }} role="button">{{ my_company_to_admin.name }}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock page_body %}
