{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Administration{% endblock %}

{% block page_body %}
  <p class="text-center">Role: {{ context.roles }}</p>
  <br>
  <a class="btn btn-primary btn-block" href={{ url_for('membership.list_members', club_id=context.club.id) }} role="button">Active Members</a>
  <a class="btn btn-primary btn-block" href={{ url_for('membership.list_memberships', club_id=context.club.id) }} role="button">Memberships History</a>
  <a class="btn btn-primary btn-block" href={{ url_for('membership.list_membership_requests', club_id=context.club.id) }} role="button">Pending Memberships</a>
  <a class="btn btn-warning btn-block" href={{ url_for('membership.create_membership', club_id=context.club.id) }} role="button">Create Membership</a>
  <a class="btn btn-primary btn-block" href={{ url_for('club.details_club', club_id=context.club.id) }} role="button">Club Info</a>
  <a class="btn btn-warning btn-block" href={{ url_for('club.update_club', club_id=context.club.id) }} role="button">Update Club Info</a>
  <br>
{% endblock page_body %}
