{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Membership{% endblock %}

{% block page_body %}
  {% for membership in context.memberships %}
    <p class="text-center">Membership from {{ membership.valid_from }} to {{ membership.valid_till }}</p>
  {% endfor %}
  <br>
  <a class="btn btn-warning btn-block" href={{ url_for('membership.request_membership', club_id=context.club.id) }} role="button">Renew Membership</a>
  <a class="btn btn-primary btn-block" href={{ url_for('club.details_club', club_id=context.club.id) }} role="button">Club Info</a>
  <br>
{% endblock page_body %}
