{% extends "base.html" %}

{% block page_title %}{{ context.company.name }} Administration{% endblock %}

{% block page_body %}
  <p class="text-center">Role: {{ context.roles }}</p>
  <br>
  <a class="btn btn-primary btn-block" href={{ url_for('company.list_employees', company_id=context.company.id) }} role="button">List Employees</a>
  <a class="btn btn-primary btn-block" href={{ url_for('company.details_company', company_id=context.company.id) }} role="button">Company Info</a>
  <a class="btn btn-warning btn-block" href={{ url_for('company.update_company', company_id=context.company.id) }} role="button">Update Company Info</a>
  <br>
{% endblock page_body %}
