{% extends "base.html" %}

{% block page_title %}Terms and Privacy Policy{% endblock %}

{% block page_body %}
  <h5><b>Basic Terms</b></h5>
  <ol>
    <li>You must be at least 16 years old to use this page.</li>
    <li>You are responsible for any activity that occurs through your account.</li>
    <li>You are responsible for keeping your password secret and secure.</li>
    <li>We reserve the right to remove registered users in case they do not comply with the rules and code of conduct of the SSCC.</li>
  </ol>

  <h5><b>Privacy Policy</b></h5>
  <p>
    This page is used to inform website visitors regarding our policies with the collection, use, and disclosure of Personal Information if anyone decided to use our MySSCC Club Service.<br/>
    If you choose to use our Service, then you agree to the collection and use of information in relation with this policy. The Personal Information that we collect is used for providing and improving the Service. We will not use or share your information with anyone except as described in this Privacy Policy.
  </p>

  <h5><b>Information Collection</b></h5>
  <p>
    The Service collects the bare minimum personal information required by the SSCC, the related clubs and the companies to manage their subscriptions and members. This information includes name, email, password, company affiliation and spouse (if applicable). Other information may be requested on optional basis.</br>
    You are free to access and modify your information at any moment. In case you want to be totally removed from our system, we can anonymize  your personal data on request, using the <a href="{{ url_for('home.feedback') }}">contact form</a>.
  </p>

  <h5><b>Use and Sharing of Collected Information</b></h5>
  <p>
    The personal information you provide is used mainly for the following entities:
    <ol>
      <li>Club Administrators: Process your membership and maintain the list of club members. Club Administrators may share your personal information with external providers as part of the club activities (e.g. hotel room reservations).</li>
      <li>Companies Representatives: List and review the list of users registered under the company responsibility.</li>
      <li>SSCC Administrators: Produce reports for Insurance and Inventory purposes, and to monitor club membership.</li>
    </ol>
  </p>

  <h5><b>Cookies</b></h5>
  <p>
    Cookies are files with small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer’s hard drive.<br/>
    Our website uses these “cookies” mainly for the purpose of tracking using authentication and to improve our Service. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse our cookies, you may not be able to use some portions of our Service.
  </p>

  <h5><b>Links to Other Sites</b></h5>
  <p>
    Our Service may contain links to other sites (e.g. club webpages). If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites, visit us. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
  </p>

  <h5><b>Changes to these Terms and Privacy Policy</b></h5>
  <p>
    We may update our Terms and Privacy Policy from time to time. We will not reduce your rights under this Privacy Policy without your explicit consent. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately, after they are posted on this page.
  </p>

  <h5><b>Contact Us</b></h5>
  <p>
    If you have any questions or suggestions about our Privacy Policy, do not hesitate to <a href="{{ url_for('home.feedback') }}">contact us</a>.
  </p>
{% endblock page_body %}
