{% extends "base.html" %}

{% block page_title %}User Guide{% endblock %}

{% block page_body %}
  <h5><b>Registration</b></h5>
  <p>
    Every user of this website needs to create an individual account through
    <a href={{ url_for('auth.register') }}>registration</a>. That is, you can NOT
    manage memberships for other people. Due to German law, you must be at least
    16 years old to register. Thus, your kids are not allowed to register. Their
    club memberships must be managed outside of this website (that is, directly
    with SSCC).
  </p>
  <p>
    To register, you need to supply an email address. This email address will
    be the only way to identify your user account. You may choose private or company
    email, but make sure it's an email account that is conveniently  accessible
    to you, as all information will be sent to this account. But don't worry,
    you can change your email at any time.
  </p>
  <p>
    After registration you will be asked to define your affiliation. If you work
    for ESA/EUMETSAT then please specify the company you are employed at. If you
    want to register as family  member (partner or child), then don’t select a
    company, but instead provide the email of your family member (that works
    for ESA/EUMETSAT) that he/she used to register at this website.
  </p>
  <p>
    On the other hand, if you select *Affiliates* from the company list because
    you are neither connected via work or family to ESOC/EUMETSAT then please
    fill out the *About me* section in your account to explain your affiliation.
  </p>
  <p>
    If you are connected via work in some way but your Company is not listed,
    please use the feedback form to let us know.
  </p>

  <h5><b>Memberships</b></h5>
  <p>
    As a registered user you can inform yourself about all the clubs
    <a href={{ url_for('club.list_all_clubs') }}>here</a>. Go to the details
    of each club to learn about their membership rules. Usually it is a good
    idea to first get in touch with the club chairman etc. beforehand, outside
    of this website, to learn more on their membership procedure.
  </p>
  <p>
    When this is settled then <a href={{ url_for('membership.request_membership') }}>request membership</a>
    in order to create a register a membership within this website. This information
    about your memberships is visibly to you, the club administration of your club,
    and to the SSCC committee.
  </p>

  <h5><b>Club Administration</b></h5>
  <p>
    As a club administrator (i.e. chairman/sectretary/treasurer/inventory) you can:
    <ul>
      <li>see a list of current club members,</li>
      <li>see current active memberships,</li>
      <li>manage memberships (create, modify, delete),</li>
      <li>and update club information.</li>
  </ul>
  </p>
  <p>
    If, after your annual club meeting, the administration has changed, you
    simply enter this information in the club details by updating the current
    board of club administrators. For this, you need to enter the user email
    of the new board into the relevant roles.
  </p>
{% endblock page_body %}
