{% extends "base.html" %}

{% block page_title %}Company Employees{% endblock %}

{% block page_body %}
  {% for company, employees in context.company_employees.items() %}
    <b>{{ company.name }}</b>
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for employee in employees %}
        <tr>
          <td>{{ employee.firstname }} {{ employee.lastname }}</td>
          <td></td>
          <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ employee.email }}">{{ employee.email }}</a></td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=employee.id) }} role="button">Profile</a></td>
        </tr>
        {% if context.employee_partner[employee] %}
          {% set partner = context.employee_partner[employee] %}
          <tr>
            <td></td>
            <td>Partner: {{ partner.firstname }} {{ partner.lastname }}</td>
            <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ partner.email }}">{{ partner.email }}</a></td>
            <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=partner.id) }} role="button">Profile</a></td>
          </tr>
        {% endif %}
        {% if context.employee_children[employee] %}
          {% for child in context.employee_children[employee] %}
            <tr>
              <td></td>
              <td>Child: {{ child.firstname }} {{ child.lastname }}</td>
              <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ child.email }}">{{ child.email }}</a></td>
              <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=child.id) }} role="button">Profile</a></td>
            </tr>
          {% endfor %}
        {% endif %}
      {% endfor %}
      <tr>
        <td>{{ employees|length }} Employees</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  {% endfor %}
{% endblock page_body %}
