{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club{% endblock %}

{% block page_body %}
  {% if context.club.description %}
    <div class="col-xs-12">{{ context.club.description|safe }}</div>
  {% endif %}
  <table class="table table-hover text-left">
    <tr>
     <th>Website</th>
     <td>{% if context.club.website %}<a class="btn btn-primary btn-sm" role="button" href="{{ context.club.website }}" target="_blank">{{ context.club.website }}</a>{% endif %}</td>
    </tr>
    <tr>
     <th>Email</th>
     <td>{% if context.club.email %}<a class="btn btn-primary btn-sm" role="button" href="mailto:{{ context.club.email }}">{{ context.club.email }}</a>{% endif %}</td>
    </tr>
    <tr>
     <th>Chairman</th>
     <td>{% if context.chairman %}{{ context.chairman.firstname }} {{ context.chairman.lastname }} ({{ context.chairman.email }}){% endif %}</td>
    </tr>
    <tr>
     <th>Secretary</th>
     <td>{% if context.secretary %}{{ context.secretary.firstname }} {{ context.secretary.lastname }} ({{ context.secretary.email }}){% endif %}</td>
    </tr>
    <tr>
     <th>Treasurer</th>
     <td>{% if context.treasurer %}{{ context.treasurer.firstname }} {{ context.treasurer.lastname }} ({{ context.treasurer.email }}){% endif %}</td>
    </tr>
    <tr>
     <th>Inventory</th>
     <td>{% if context.inventory %}{{ context.inventory.firstname }} {{ context.inventory.lastname }} ({{ context.inventory.email }}){% endif %}</td>
    </tr>
  </table>
  <br>
  <a class="btn btn-warning btn-block" href={{ url_for('membership.request_membership', club_id=context.club.id) }} role="button">Request Membership</a>
  <br>
{% endblock page_body %}
