{% extends "base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_body %}
  {% if context.clubs %}
  <table class="table table-hover text-left">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    {% for club in context.clubs %}
      <tr>
        <td>{{ club.name }}</td>
        <td><a class="btn btn-primary btn-sm" href={{ url_for('club.details_club', club_id=club.id) }} role="button">Details</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
