{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Members{% endblock %}

{% block page_body %}
  {% if context.members %}
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for member in context.members %}
        <tr>
          <td>{{ member.firstname }} {{ member.lastname }}</td>
          <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ member.email }}">{{ member.email }}</a></td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=member.id) }} role="button">Profile</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
