{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}Login{% endblock %}

{% block page_body %}
  {{ wtf.quick_form(form) }}
  <br>
  <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
{% endblock page_body %}
