{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}Register{% endblock %}

{% block page_body %}
  {{ wtf.quick_form(form) }}
  <br>
  <p>
    By clicking "Register", you agree to our
    <a href="{{ url_for('home.privacy_policy') }}">Terms and Privacy Policy</a>.
  </p>
{% endblock page_body %}
