{% extends "base.html" %}

{% block page_title %}Confirm Account{% endblock %}

{% block page_body %}
  <p>Hello, {{ current_user.firstname }} {{ current_user.lastname }}!</p>
  <p>You have not confirmed your account yet.</p>
  <p>
    Before you can access this site you need to confirm your account.
    Check your inbox, you should have received an email with a confirmation link.
  </p>
  <p>
    Need another confirmation email?
    <a href="{{ url_for('auth.resend_confirmation') }}">Click here</a>
  </p>
{% endblock page_body %}
