{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Active Members{% endblock %}

{% block page_body %}
  <p>Shown here are all members with a currently valid membership.</p>
  {% if context.members %}
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for member in context.members %}
        <tr>
          <td>{{ member.firstname }} {{ member.lastname }}</td>
          <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ member.email }}">{{ member.email }}</a></td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=member.id) }} role="button">Profile</a></td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ context.members|length }} Members</td>
        <td>
          {% if context.members_email %}<a class="btn btn-primary btn-sm" href="mailto:{{context.members_email}}">Email All</a>{% endif %}
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
