{% extends "base.html" %}

{% block page_title %}Club Members{% endblock %}

{% block page_body %}
  {% for club, members in context.club_members.items() %}
    <b>{{ club.name }}</b>
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for member in members %}
        <tr>
          <td>{{ member.firstname }} {{ member.lastname }}</td>
          <td><a class="btn btn-primary btn-sm" role="button" href="mailto:{{ member.email }}">{{ member.email }}</a></td>
          <td><a class="btn btn-primary btn-sm" href={{ url_for('account.details_user_account', user_id=member.id) }} role="button">Profile</a></td>
        </tr>
      {% endfor %}
      <tr>
        <td>{{ members|length }} Members</td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  {% endfor %}
{% endblock page_body %}
