{% extends "base.html" %}

{% block page_title %}{{ context.club.name }} Club Memberships History{% endblock %}

{% block page_body %}
  <p>Shown here are all memberships of the club of the past, current, and future.</p>
  {% if context.memberships %}
    <table class="table table-hover text-left">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
      {% for membership in context.memberships %}
        <tr>
          <td>{{ membership.user.firstname }} {{ membership.user.lastname }}</th>
          <td>{{ membership.valid_from }} - {{ membership.valid_till }}</td>
          <td>
            <a class="btn btn-warning btn-sm" href={{ url_for('membership.modify_membership', membership_id=membership.id) }} role="button">Modify</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p><em>Nothing to display.</em></p>
  {% endif %}
{% endblock page_body %}
