<p>Dear {{ user.firstname }} {{ user.lastname }},</p>
<p>
  Your membership request for {{ club.name }} Club has been confirmed for the
  time from {{ valid_from }} till {{ valid_till }}!
</p>
<p></p>
<p><small>Note: replies to this email address are not monitored.</small></p>
