{% extends "base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_body %}
  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <td>{{ context.user.firstname }} {{ context.user.lastname }}</td>
    </tr>
    <tr>
      <th>Email</th>
      <td>{{ context.user.email }}</td>
    </tr>
    <tr>
      <th>Company</th>
      <td>
        {% if context.company %}{{ context.company.name }}{% endif %}
        {% if context.partner %}<em>partner of {{ context.partner.email }}</em>{% endif %}
        {% if context.parent %}<em>child of {{ context.parent.email }}</em>{% endif %}
      </td>
    </tr>
    <tr>
      <th>Phone</th>
      <td>{% if context.profile %}{{ context.profile.phone|default("", True) }}{% endif %}</td>
    </tr>
    <tr>
      <th>About me<br></th>
      <td>{% if context.profile %}{{ context.profile.about|default("", True) }}{% endif %}</td>
    </tr>
  </table>
  <img class="img-responsive img-rounded" src="https://secure.gravatar.com/avatar/{{ context.gravatar }}?d=blank">
  <br>
{% endblock page_body %}
