{% extends "bootstrap/base.html" %}

{% block title %}ClubHub{% endblock title %}

{% block styles %}
  {{ super() }}
  <link rel="shortcut icon" href="{{ url_for('home.static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('home.static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock styles %}

{% block navbar %}
{{nav.top_nav.render()}}
{% endblock navbar %}

{% block content %}
  <div class="container">
    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
      </div>
    {% endfor %}
    {% block page_content %}
      <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="page-header col-xs-12 col-md-8 text-left">
          {% block page_header %}
            <h4>
              {% block page_title %}
              {% endblock page_title %}
            </h4>
          {% endblock page_header %}
        </div>
        <div class="col-xs-0 col-md-2"></div>
      </div>
      <div class="row">
        <div class="col-xs-0 col-md-2"></div>
        <div class="col-xs-12 col-md-8 text-left">
          {% block page_body %}
          {% endblock page_body %}
        </div>
        <div class="col-xs-0 col-md-2"></div>
      </div>
    {% endblock page_content %}
  </div>
  <br>
{% endblock content %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}
