{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_body %}
  {% if note %}
    <div>
      <strong>Note:</strong> {{ note }}
    </div>
    <br>
  {% endif %}
  {{ wtf.quick_form(form) }}
  <br>
{% endblock %}
