<p>Hello {{ employee.firstname }} {{ employee.lastname }},</p>
<p>{{ child.firstname }} {{ child.lastname }} ({{ child.email }}) has registered as your child.</p>
<p></p>
<p><small>Note: replies to this email address are not monitored.</small></p>
