<p>Hello {{ employee.firstname }} {{ employee.lastname }},</p>
<p>{{ partner.firstname }} {{ partner.lastname }} ({{ partner.email }}) has registered as your partner.</p>
<p></p>
<p><small>Note: replies to this email address are not monitored.</small></p>
